<a href="https://colab.research.google.com/github/RobinBose774/EDA-Project-Telecom-Churn-Analysis/blob/main/EDA_Telecom_Churn_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - Telecom Churn Analysis

##### **Project Type**    - EDA
##### **Contribution**    - Individual / Robin Bose

# **Project Summary -**

Telecom churn analysis identifies customers likely to cancel or switch providers. It's crucial for telecom companies to address churn's impact on revenue and profitability. Orange Telecom's Churn Dataset includes cleaned customer activity data and churn labels. The goal is to understand churn factors and develop strategies to reduce it. The first step is data acquisition, obtaining a representative sample of customer data. Data cleaning removes missing or incomplete data. Data visualization uses plots and charts to identify trends. Data summarization uses statistical techniques to understand relationships between variables. To reduce churn, modify the International Plan to match the normal plan's charges. Communication and feedback help address issues leading to churn. Periodic promotions and focusing on high-churn states retain customers. Support your best customers and address network issues. Develop an onboarding roadmap for a smooth process and reduced churn.
Examining churn patterns when they occur can yield valuable insights into the underlying reasons for customer attrition. These insights can then guide the development of strategies aimed at minimizing churn. To remain competitive, it's also crucial to stay attuned to industry trends and continually enhance the customer experience.

Upon conducting Exploratory Data Analysis (EDA) on the churn dataset, several significant findings emerged:

1. A strong correlation between the charge and minute fields was observed, indicating that higher usage might contribute to increased charges and, subsequently, churn.

2. The area code variable appeared to hold minimal relevance to churn prediction, suggesting its omission from further analyses could streamline the modeling process.

3. Customers subscribing to the International Plan demonstrated a propensity for higher churn rates. This highlights the need for potential improvements or modifications to this plan.

4. Customers who engaged in four or more customer service calls exhibited a notable likelihood of churning. Addressing the underlying issues prompting these calls could lead to higher customer retention.

5. Customers with elevated day and evening minute consumption displayed a higher likelihood of churn, indicating potential dissatisfaction with plan structures during peak times. Tweaking these plans could mitigate churn risk.

6. No discernible link between churn rates and call frequency was observed, implying that factors beyond call volume influence churn decisions.

Summarily, effective strategies for reducing churn and enhancing customer retention should include refining the International Plan, fostering proactive communication and feedback loops, offering targeted promotions, addressing issues within high-churn states, prioritizing high-value customers, and maintaining an ongoing commitment to improving the overall customer experience.

# **GitHub Link -**

Github Link :- https://github.com/RobinBose774/EDA-Project-Telecom-Churn-Analysis.git

# **Problem Statement**

Telecom churn analysis is the process of identifying customers who are likely to cancel their service or switch to a different service provider. This is an important problem for telecom companies, as churn can have a significant impact on their revenue and profitability.

Orange S.A., formerly France Télécom S.A., is a French multinational telecommunications corporation. The Orange Telecom's Churn Dataset, consists of cleaned customer activity data (features), along with a churn label specifying whether a customer canceled the subscription.
Explore and analyze the data to discover key factors responsible for customer churn and come up with ways/recommendations to ensure customer retention.

#### **Define Your Business Objective?**

*   Identifying the key cause of the customer churn
*   Provide steps to retain the valuable customer

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np

# Import Visualization Libraries
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Import warnings
import warnings
warnings.filterwarnings('ignore')

### Dataset Loading

In [ ]:
# My drive is mounted here.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Telecom churn dataset read using pd.read_csv
working_dataset = '/content/drive/MyDrive/Colab Notebooks/capston project/Telecom Churn /Telecom Churn.csv'
data = pd.read_csv(working_dataset)

### Dataset First View

In [ ]:
# View top 5 rows of the dataset
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [ ]:
# View last 5 rows of the dataset
data.tail()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

### Dataset Rows & Columns count

In [ ]:
# Checking number of rows and columns of the dataset using shape
print("Number of rows are: ",data.shape[0])
print("Number of columns are: ",data.shape[1])

Number of rows are:  3333
Number of columns are:  20

### Dataset Information

In [ ]:
# Checking information about the dataset using info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

#### Duplicate Values

In [ ]:
# Checking duplicated rows count
data.duplicated().sum()

0

There are no duplicate values.